.panel-yellow {
  border-color: #f0ad4e;  
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e !important;
  color: #fff;
  background-color: #f0ad4e;
}

.pad-bottom {
	margin-bottom: 1em;
}

.pad-bottom-half {
	margin-bottom: .5em;
}

label.force-text-left {
	text-align: left!important;
}